/*кнопка "Умножить матрицы"*/
a.buttonMultiplyMatrix, a.buttonMultiplyMatrix::after  {
    /*состояние покой*/
    /*градиент фона*/
    background: -moz-linear-gradient(top, rgba(75, 169, 29, 1) 0%, rgba(56, 146, 12, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(75, 169, 29, 1)), color-stop(100%, rgba(56, 146, 12, 1)));
    background: -webkit-linear-gradient(top, rgba(75, 169, 29, 1) 0%, rgba(56, 146, 12, 1) 100%);
    background: -o-linear-gradient(top, rgba(75, 169, 29, 1) 0%, rgba(56, 146, 12, 1) 100%);
    background: -ms-linear-gradient(top, rgba(75, 169, 29, 1) 0%, rgba(56, 146, 12, 1) 100%);
    background: linear-gradient(to bottom, rgba(75, 169, 29, 1) 0%, rgba(56, 146, 12, 1) 100%);
}

a.buttonMultiplyMatrix::after {
    background: #4BA91D;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ba91d', endColorstr='#38920c', GradientType=0);
}

a.buttonMultiplyMatrix {
    /*состояние покой*/
    /*цвет рамки*/
    border: 1px solid rgba(74, 128, 60, 0.6);
    border: 1px solid #4A803C\9; /*for IE8 and below*/
    border-bottom-color: rgba(55, 102, 43, 0.6);
    border-bottom-color: #37662B\9; /*for IE8 and below*/
    background: #4BA91D;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ba91d', endColorstr='#38920c', GradientType=0);
}

a.buttonMultiplyMatrix:hover, a.buttonMultiplyMatrix:hover::after  {
    /*состояние при наведении*/
    /*тень*/
    /*градиент фона*/
    background: -moz-linear-gradient(top, rgba(74, 166, 0, 1) 0%, rgba(66, 150, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(74, 166, 0, 1)), color-stop(100%, rgba(66, 150, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(74, 166, 0, 1) 0%, rgba(66, 150, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(74, 166, 0, 1) 0%, rgba(66, 150, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(74, 166, 0, 1) 0%, rgba(66, 150, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(74, 166, 0, 1) 0%, rgba(66, 150, 0, 1) 100%);
}

a.buttonMultiplyMatrix:hover {
    /*состояние при наведении*/
    /*цет рамки*/
    border: 1px solid rgba(66, 148, 1, 0.6);
    border: 1px solid #429401\9; /*for IE8 and below*/
    border-bottom-color: rgba(56, 126, 1, 0.6);
    border-bottom-color: #387E01\9; /*for IE8 and below*/
    background: #4AA600;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aa600', endColorstr='#429600', GradientType=0);
}

a.buttonMultiplyMatrix:hover::after {
    background: #4AA600;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aa600', endColorstr='#429600', GradientType=0);
}

a.greyButton {
    /*состояние покой*/
    /*цет рамки*/
    border: 1px solid rgba(217, 217, 217, 0.5);
    border: 1px solid #D9D9D9\9; /*for IE8 and below*/
    border-bottom-color: rgba(178, 178, 178, 0.5);
    border-bottom-color: #B2B2B2\9; /*for IE8 and below*/
    /*градиент фона*/
    background: #FEFEFE;
    background: -moz-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 254, 254, 1)), color-stop(100%, rgba(236, 236, 236, 1)));
    background: -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(236, 236, 236, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 254, 254, 1) 0%, rgba(236, 236, 236, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#ececec', GradientType=0);
}

a.greyButton:hover {
    /*состояние при наведении*/
    /*цвет рамки*/
    border: 1px solid rgba(217, 217, 217, 0.5);
    border: 1px solid #D9D9D9\9; /*for IE8 and below*/
    border-bottom-color: rgba(178, 178, 178, 0.5);
    border-bottom-color: #B2B2B2\9; /*for IE8 and below*/
    /*градиент фона*/
    background: #F2F2F2;
    background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(223, 223, 223, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(100%, rgba(223, 223, 223, 1)));
    background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(223, 223, 223, 1) 100%);
    background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(223, 223, 223, 1) 100%);
    background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(223, 223, 223, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(223, 223, 223, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#dfdfdf', GradientType=0);
}

a.greyButton:active {
    /*состояние нажатая*/
    /*цет рамки*/
    border: 1px solid rgba(204, 204, 204, 0.5);
    border: 1px solid #CCCCCC\9; /*for IE8 and below*/
    border-top-color: rgba(166, 166, 166, 0.5);
    border-top-color: #A6A6A6\9; /*for IE8 and below*/
    /*градиент фона*/
    background: #d9d9d9;
    box-shadow: inset 0 2px 2px #c1c1c1;
}


