@font-face {
    font-family: Kontur-lconic-eco;
    src: url('Kontur-lconic-eco.eot');
}

@font-face {
    font-family: Kontur-lconic-eco;
    src: url(./Kontur-lconic-eco.ttf);
}

body {
    margin: 0 auto;
    font: 14px "Segoe UI", sans-serif;
    color: #404040;
}

.wrapper {
    margin: 0 auto;
}

.leftPart {
    width: 330px;
    background: #bcbcbc;
    float: left;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.rightPart {
    margin-left: 330px;
    background: #ffffff;
    height: 100%;
    padding-left: 20px;
    padding-top: 15px;
}

a.buttonMultiplyMatrix {
    margin: 32px 0 55px 30px;
    display: block;
    height: 37px;
    width: 177px;
    color: #ffffff;
    border-radius: 2px;
    position: relative;
}

#descriptionMultiplyMatrix {
    text-align: center;
    position: absolute;
    left: 24px;
    line-height: 36px;
}

a.greyButton {
    margin-left: 33px;
    border-radius: 2px;
    height: 28px;
    display: inline-block;
    color: #404040;
    line-height: 23px;
}

#columnBox a.greyButton, #rowBox a.greyButton {
    margin-left: 0;
    margin-right: 8px;
}

#buttonChangeMatrix {
    margin-top: 10px;
}

#radioMatrix_A {
    display: inline-block;
}

#radioMatrix_B {
    display: inline-block;
    margin-left: 16px;
}

#radioBox {
    margin-top: 67px;
    margin-left: 30px;
}

#rowBox, #columnBox {
    margin-top: 10px;
    margin-left: 32px;
}

.rowItem, .columnItem {
    border-radius: 2px;
    display: inline-block;
    width: 94px;
    height: 28px;
}

.konturSymbol {
    font-family: "Kontur-lconic-eco", serif;
}

input[type = text] {
    width: 38px;
    height: 38px;
    border: 1px solid #d9d9d9;
    border-top-color: #b2b2b2;
    box-shadow: inset 0 1px #f2f2f2;
    padding: 11px 0 0 5px;
    box-sizing: border-box;
    font-size: 12px;
}

.matrixC input[type = text] {
    background: #f2f2f2;
    width: 38px;
    height: 38px;
    border: 1px solid rgba(9, 9, 9, 0.2);
    padding: 11px 0 0 5px;
    font-size: 12px;
}

td {
    padding: 0;
}

.rowItem:last-child, .columnItem:last-child {
    margin-left: 10px;
}

.alineByCenter {
    margin: 0 6px;
    vertical-align: middle;
    display: inline-block;
}

.matrixC, .matrixA, .matrixB {
    display: table-cell;
}

.titleA {
    display: table-cell;
    vertical-align: middle;
    font-size: 26px;
    font-weight: 200;
}

.leftSide {
    padding-right: 20px;
}

.rightSide {
    padding-left: 20px;
}

.titleB {
    text-align: center;
    font-size: 24px;
    display: block;
    font-weight: 200;
}

.topSide {
    margin-bottom: 5px;
}

.bottomSide {
    margin-top: 5px;
}

.rightBracket {
    border-left: 2px solid #404040;
    border-top: 2px solid #404040;
    border-bottom: 2px solid #404040;
    display: table-cell;
    width: 8px;
}

.leftBracket {
    border-right: 2px solid #404040;
    border-top: 2px solid #404040;
    border-bottom: 2px solid #404040;
    display: table-cell;
    margin-left: 40px;
    width: 8px;
}

.cell {
    margin: 5px;
}

.matrixImpl td:last-child .cell {
    margin-right: 0;
}

.matrixImpl td:first-child .cell {
    margin-left: 0;
}

.matrixImpl tr:first-child .cell {
    margin-top: 8px;
}

tr:last-child .cell {
    margin-bottom: 8px;
}

.matrixWrapper {
    display: inline-block;
    margin: 0 20px 40px;
}

#errorMsg {
    color: #ff0000;
    display: none;
    margin: 20px;
}

.placeholder {
    color: #e0e0e0;
}
