body {
    margin: 0 auto;
    font: 14px "Segoe UI", sans-serif;
    color: #404040;
}

.wrapper {
    margin: 0 auto;
}

.leftPart {
    width: 330px;
    background: #bcbcbc;
    float: left;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.rightPart {
    margin-left: 330px;
    background: #ffffff;
    /*border: solid black;*/
    height: 100%;
    /*float: right;*/
    width: 1013px;
}

a.buttonMultiplyMatrix {
    margin: 32px 0 55px 30px;
    display: block;
    height: 38px;
    width: 177px;
    color: #ffffff;
    border-radius: 2px;
    position: relative;
}

/*span#descriptionMultiplyMatrix::after {
    content: 'llal';
    *//*border: solid 0.5px grey*//*
    height: 0;
    border-right: solid grey 5px;
    display: inline-block;
}*/

span#descriptionMultiplyMatrix {
    text-align: center;
    position: absolute;
    top: 7px;
    left: 19px;
}

a.greyButton {
    margin-left: 33px;
    border-radius: 2px;
    height: 28px;
    display: inline-block;
    color: #404040;
    line-height: 23px;
}

#columnBox a.greyButton, #rowBox a.greyButton {
    margin-left: 0;
}

#buttonChangeMatrix {
    margin-top: 10px;
}

#radioMatrix_A, #radioMatrix_B {
    display: inline-block;
}

#radioBox {
    margin-top: 67px;
    margin-left: 30px;
}

#rowBox {
    margin-top: 10px;
    margin-left: 32px;
}

#columnBox {
    margin-top: 10px;
    margin-left: 32px;
}

.rowItem, .columnItem {
    border-radius: 2px;
    display: inline-block;
    width: 94px;
    height: 28px;
}


.konturSymbol {
    font-family: "Kontur-lconic-eco", serif;
}

td input {
    border: 1px solid rgba(9, 9, 9, 0.2);
    width: 38px;
    height: 38px;
    margin-left: 10px;
    padding: 0;
    background: #f2f2f2;
    color: #dadada;
}

.rowItem:last-child {
    margin-left: 10px;
}

.columnItem:last-child {
    margin-left: 10px;
}

.alineByCenter {
    margin: 0 7px;
    vertical-align: middle;
    display: inline-block;
}